<div class="page-title">
	<span class="title" translate="title.atividades"></span>
	<a id="Create" class="btn btn-primary pull-right" href="#/Atividades/new"><span class="fa fa-plus"></span> <texto translate="bt.novo"></texto> </a>
</div>

<div class="row">
	<div class="card">
		<div class="card-body">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="descricao" class="col-sm-2 control-label" translate="label.descricao"></label>
					<div class="col-sm-6">
						<input id="descricao" name="descricao" class="form-control" type="text" ng-model="search.descricao" ></input>
					</div>
				</div>
				<br/>
				<a id="Search" class="btn btn-primary" ng-click="performSearch()"><span class="fa fa-search"></span> <texto translate="bt.pesquisar" ></texto></a>
				<br/>
			</form>
			<div id="search-results">
				<table class="table">
					<thead>
						<tr>
							<th translate="label.descricao"></th>
							<th translate="label.esforco"></th>
							<th translate="label.pessoa"></th>
						</tr>
					</thead>
					<tbody id="search-results-body">
						<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
							<td ><a href="#/Atividades/edit/{{result.id}}" ng-bind="result.descricao"></a></td>
							<td ><a href="#/Atividades/edit/{{result.id}}" ng-bind="result.esforco"></a></td>
							<td ><a href="#/Atividades/edit/{{result.id}}" ng-bind="result.pessoa.nome"></a></td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination pagination-centered">
					<li ng-class="{disabled:currentPage == 0}">
						<a id="prev"  ng-click="previous()" translate="label.prev" ></a>
					</li>
					<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
						<a ng-bind="n + 1"></a>
					</li>
					<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
						<a id="next" ng-click="next()" translate="label.next"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>	
