<div class="page-title">
	<span class="title" translate="title.pessoa"></span>
</div>
<div class="row">
	<form id="PessoaForm" name="PessoaForm"  role="form" class="form-horizontal">
		<div class="card">
			<div class="card-body">
				<div class="form-group" ng-class="{'has-error': PessoaForm.nome.$invalid}" >
					<label for="nome" class="col-sm-2 control-label" translate="label.nome"></label>
					<div class="col-sm-6">
						<input id="nome" name="nome" type="text" class="form-control" ng-model="pessoa.nome"  required></input>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': PessoaForm.nome.$invalid}" >
					<label for="nome" class="col-sm-2 control-label" translate="label.nome"></label>
					<div class="col-sm-2">
						<input id="produtividade" name="produtividade" type="number" class="form-control" ng-model="pessoa.produtividade" min="1" max="30" placeholder="1 - 30" required></input>
					</div>
				</div>
				
				<button id="savePessoa" name="savePessoa" class="btn btn-primary" ng-disabled="isClean() || PessoaForm.$invalid" ng-click="save()" translate="bt.salvar"></button>
				<button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()" translate="bt.voltar"></button>
				<button id="deletePessoa" name="deletePessoa" class="btn btn-danger" ng-show="pessoa.id" ng-click="remove()" translate="bt.excluir"></button>
			</div>
		</div>
	</form>
</div>	
